.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
.cache/
.idea/
bin/
develop-eggs/
env
eggs/
extras/
parts/
var/
# files
.installed.cfg
.mr.developer.cfg
.netrc
log.html
netrc
output.xml
report.html
requirements.txt
result
