[buildout]
show-picked-versions = true
extensions =
    buildout.requirements
    mr.developer

index = https://pypi.python.org/simple/

parts =
    instance
    test
    coverage
    test-coverage
    createcoverage
    releaser
    i18ndude
    robot
    isort
    pylama
    pocompile
    python-interpreter
develop = .

dump-requirements-file = requirements.txt
overwrite-requirements-file = true


[buildout:python3]
parts += black


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
    PTS_LANGUAGES en fi
    Z3C_AUTOINCLUDE_DEPENDENCIES_DISABLED on
eggs =
    Plone
    Pillow
    collective.taskqueue [test]
initialization =
# fix issue where PyCharm debugger broke pkg_resources working set
    import pkg_resources
    pkg_resources._initialize_master_working_set()
zserver-threads = 1
zope-conf-additional =
    %import collective.taskqueue
    <taskqueue />
    <taskqueue-server />


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
initialization =
    os.environ['TZ'] = 'UTC'
    os.environ['Z3C_AUTOINCLUDE_DEPENDENCIES_DISABLED'] = 'on'
defaults = ['-s', 'plone.scim', '--auto-color', '--auto-progress']


[coverage]
recipe = zc.recipe.egg
eggs = coverage


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[test-coverage]
recipe = collective.recipe.template
input = inline:
        #!/bin/bash
        export TZ=UTC
        ${buildout:directory}/bin/coverage run bin/test $*
        ${buildout:directory}/bin/coverage html
        ${buildout:directory}/bin/coverage report -m --fail-under=90
# Fail (exit status 1) if coverage returns exit status 2 (this happens
# when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser [recommended]


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[isort]
recipe = zc.recipe.egg
eggs = isort


[pylama]
recipe = zc.recipe.egg
eggs =
    pylint
    pylama


[black]
recipe = zc.recipe.egg
eggs = black


[pocompile]
recipe = zc.recipe.egg
eggs = zest.pocompile


[python-interpreter]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = python-interpreter


[versions]
# Don't use a released version of plone.scim
collective.taskqueue =


[versions:python2]
pylint = 1.9.4
astroid = 1.6.6
