pip==23.1.2
setuptools==67.8.0
wheel==0.40.0
zc.buildout==3.0.1

# Windows specific down here (has to be installed here, fails in buildout)
# Dependency of zope.sendmail:
pywin32 ; platform_system == 'Windows'

# SSL Certs on windows, because Python is missing them otherwise:
certifi ; platform_system == 'Windows'

# Plone Meta
tox==4.6.3
pygraphviz==1.11

# Test dependencies, to be moved to package test dependencies
plaster==1.1.2
plaster-pastedeploy==1.0.1